.feature-section{
 display: flex;
 flex-direction: column;
  
   /* height: 100vh; */

 align-items: center;
 justify-content: center;
 text-align: center;
 /* background-color: aqua; */
}
.feature-header{
 width: 60%;

}

  .feat-main{
    display: flex;
    flex-direction: row;
/* background-color: chartreuse; */
max-width: 100%;
  }
  .feat-right ,.feat-left{
    display: flex;
    gap: 4rem;
    flex-direction:column
  }
  .feat-img{
width: 300px; 
  height: 300px; 
  overflow: hidden
  }
  .feat-img img{
 width: 100%;
  height: 100%;
  object-fit: cover; 
  }
  .feature{
    height: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
  display: flex;
  align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .feature:hover{
    background-image: linear-gradient(to top, #e8ddf6 0%,#e6c8f0 100%);
    cursor: pointer;
  }
  .feat-right .feature:nth-child(2) {
  margin-left: -2rem;

}
  .feat-left .feature:nth-child(2) {
  margin-left: -2rem;
}
